
@{
    ViewBag.Title = "فريق فيزيتا";
    // Layout = null;
}

<link href="~/Content/CSS/Sidebar.css" rel="stylesheet">

<style>
    h1, h2 {
        font-family: "Roboto", sans-serif;
        direction: rtl;
        color: rgb(29, 89, 219);
        font-weight: 800;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        direction: rtl;
        /* color: rgb(29, 89, 219); */
        font-weight: 800;
    }

    p {
        direction: rtl;
        font-weight: 600;
        color: #858484;
        line-height: 1.8;
        letter-spacing: 0.8px;
    }

    .mydiv {
        width: 100%;
        height: 100%;
        background-image: url('/Content/images/cover22.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: gray;
    }

    .header {
        color: #36A0FF;
        font-size: 27px;
        margin: 50px;
    }
</style>

<br />
<br />
<br />
<br />

<section class="container">
    <section class="row">
        <section class="col-10 col-lg-8">
            <h2>فريق فيزيتا</h2>
            <div class="mgr">
                <div class="row">
                    <div class="col-8">
                        <h2>أمير برسوم: رئيس مجلس الإدارة والشريك المؤسس</h2>
                        <p>
                            قام أمير بتقديم فيزيتا في ٢٠١٢ كمنصة رقمية غيرت من مفهوم الرعاية الصحية في منطقة الشرق الأوسط وشمال أفريقيا. إن يوصل المرضى بالأطباء بطريقة مبتكرة يخلق تجارب صحية سريعة وفعالة بشكل غير مسبوق. قام أمير ببناء فيزيتا من مجرد فكرة إلى شركة يعمل بها ٢٠٠ موظف، ٦٠ ألف حجز شهرياً، ٦ آلاف طبيب مشترك، ومليون مستخدم عبر منطقة الشرق الأوسط وشمال أفريقيا بفروع في كل من القاهرة، الأردن، لبنان، المغرب، والإمارات العربية المتحدة. وكانت رؤية أمير المتفردة في ريادة الأعمال جمع ٥ ,١٠ مليون دولار في ٤ سنوات لتصبح فيزيتا هي المنصة الأولى في تقديم كل ما له علاقة بالرعاية الصحية في الشرق الأوسط وشمال أفريقيا. أمير هو رائد أعمال بالفطرة، قام بتأسيس أول شركاته بعد التخرج من الجامعة مباشرةً. نجح في تحويل شركته الأولى إلى مستورد وموزع ناجح للسلع الاستهلاكية .لاحقاً انتقل إلى عالم الشركات وتعلم بناء أكبر الشركات واضطرابات الصناعة. قبل فيزيتا، كان أمير مستشارا إداريا في شركة ماكينزي وشركاه حيث قدم خبرته في مجال الرعاية الصحية والسلع الاستهلاكية في القطاعين العام والخاص في أوروبا والشرق الأوسط وشمال أفريقيا. كما قاد استراتيجيية إنشاء استرا زينيكا في منطقة الشرق الأوسط وشمال أفريقيا. يحمل أمير ماجيستير إدارة الأعمال من الجامعة الأمريكية في القاهرة، وبكاليريوس الصيدلة من جامعة عين شمس. أمير أيضاً رائد أعمال بمؤسسة إندافر .
                        </p>
                    </div>
                    <div class="col-4">
                        <img id="teamimg" src="~/Content/Images/1.jpg" />
                    </div>
                </div>
            </div>
            <div class="assmgr">
                <div class="row">
                    <div class="col-8">
                        <h2>محمد الموجى - مدير تطوير المنتجات</h2>
                        <p>
                            انضم محمد الموجى لفيزيتا في ٢٠١٦ كمدير للمنتجات، وفي غصون ٦ أشهر تمكن هو وفريقه من إطلاق و إعادة إطلاق خدمات مناسبة تحديدا لأسواق فيزيتا. يمتلك محمد خبرة ٨ سنوات في صناعات التكنولوجيا وتكنولوجيا الاتصالات ولديه القدرة على تحديد واختيار فرص النمو والاستراتيجيات الرابحة، وأيضا لديه سجل من الأفكار المبتكرة التي حققها بنجاح على أرض الواقع. قبل انضمامه لفيزيتا، كان محمد مدير تسويق الشركات الصغيرة والمتوسطة في فودافون، إلى جانب كونه مستشار الأبحاث في التطبيقات التكنولوجية بشركة نيلسن. يحمل محمد ماجيستير الأعمال الدولية من جامعة هالت بسان فراسنيسكو، وبكاليريوس الصيدلة والبايوتكنولوجي من الجامعة الألمانية بالقاهرة.
                        </p>
                    </div>
                    <div class="col-4">
                        <img id="teamimg" src="~/Content/Images/2.jpg" />
                    </div>
                </div>
            </div>
        </section>
        <section class="d-none d-lg-block col-lg-2" style="background-color: #ffffff;height: 205px;width: 250px; margin-left:30px;border-radius: 10%;">
            <nav id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item active ">
                        <a class="js-scroll-trigger " href="/WhoRW/Whowhat/"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>من نحن </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="js-scroll-trigger" href="/OurTeam/Ourteam/"> <i class="fa fa-users" aria-hidden="true"></i>فريقنا</a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="js-scroll-trigger" href="/LifeVezeeta/LifeVezeeta/"> <i class="fa fa-cogs" aria-hidden="true"></i>الحياة فى فيزيتا</a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="js-scroll-trigger" href="https://careers.vezeeta.com/"> <i class="fa fa-search" aria-hidden="true"></i>وظائف</a>
                    </li>
                </ul>
            </nav>

        </section>
    </section>
</section>

