@model Vezeeta.Models.Doctor
@{
    ViewBag.Title = "اتفاق الخصوصية للاطباء";
    //Layout = null;
}


    <style>
        body {
            background-color: #EEEDED;
        }

        p {
            direction: rtl;
            font-weight: 600;
            color: #858484;
            line-height: 1.8;
            letter-spacing: 0.8px;
        }
        .mydiv {
            width: 100%;
            height: 100%;
            background-image: url('/Content/images/cover22.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: gray;
        }

        .header {
            color: #36A0FF;
            font-size: 27px;
            margin: 50px;
        }
    </style>


    <div class="container-fluid text-right" style=" background-color: rgb(230, 233, 243); width: 100%;">
        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 30px; color: rgb(42, 129, 187);">اتفاقية الخصوصية للأطباء</p>
            </div>
        </div><!-- end of row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    الشروط والاحكام
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    "تعتبر هذة الشروط والاحكام عقداً نافذاً بين شركة فيزيتا شركة ذات مسئولية محدودة (ويشار إليها فيما بعد ب"الشركة" أو "فيزيتا" أو صيغة الضمير المخاطب "نحن")
                    وبين الطبيب المستخدم لخدمات الشركة سواء بالأصالة عن نفسه أو نيابةً عن شركة أو مؤسسة يكون هو ممثلها القانوني ويشار إليه فيما بعد ب"المستخدم"
                    أو بصيغة الضمير المخاطب "أنت"
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    .برجاء العلم أن الإشارة إلي شروط وخدمات الشركة هي أيضاً إشارة إلي البنود و المبادئ التوجيهية والقوانين المعتمدة من قبل الشركة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يعد استخدامك لخدمات فيزيتا هو بمثابة موافقة وتعهد منك بقبول الشروط والاحكام الماثلة والمفصلة أدناه وهو تأكيد لالتزامك وامتثالك لهذه الشروط والاحكام.
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    "تطبق هذة الشروط والأحكام عند استخدامك لموقع فيزيتا الإلكتروني www.vezeeta.com” “ أو أي مواقع الكترونية أخري حول العالم مملوكة أو مدارة أو مرخصة
                    من قبل الشركة، أو خاضعة لإشرافها (ويشار إليها فيما بعد بالموقع الالكتروني) وكذا أي منتجات أو خدمات أو تطبيقات تم تقديمها أو تم تطويرها من قبل الشركة
                    (ويشار إليها فيما بعد "بالخدمات")"
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تحتفظ الشركة بالحق المطلق في إضافة أو تعديل ـأو تحديث الشروط والأحكام في أي وقت ودون إبداء أية أسباب ود
                    ون أية مسئولية علي الشركة علماً بأنه ستصبح
                    الشروط والأحكام المعدلة سارية المفعول عقب نشرها علي موقع الشركة مباشرةً ، وبناءً عليه ، فإن استمرارك في استخدام خدمات فيزيتا بعد تعديل الشروط والأحكام هو بمثابة موافقة منك وتعهد بالإمتثال والإلتزام بالشروط والاحكام بصيغتها المعدلة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    "تحكم هذة الشروط والأحكام ، بصغتها المعدلة من وقت لآخر ، أي خدمات تقدمها الشركة عبر الإنترنت أو أي خدمة أخري تتطلب اتصالاً بالإنترنت أو تتطلب حساب
                    المصدر الخاص بالشركة للإتاحة أو التثبيت أو التشغيل أو للوصول إلى المنتجات أو الخدمات عبر الإنترنت ("الخدمات") المقدمة من فيزيتا"
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تكوّن سياسية الخصوصية الخاصة بالشركة والمدرجة بالرابط أدناه عقداً ملزماً بينك وبين فيزيتا ، وبناء عليه ، فإنك تقر -بموجب استخدامك لخدمات فيزيتا- بأهليتك
                    القانونية الكاملة في التعاقد وإبرام العقود وإمتثالك للبنود والشروط والإلتزامات المنصوص عليها في هذة الشروط والاحكام ، وبناء عليه ، إن كنت غير
                    موافق وغير مستعد للإمتثال لشروط وأحكام وسياسات وقوانين ولوائح الشركة فبرجاء الإمتناع عن استخدام التطبيق الخاص بها أو خدمات الشركة جملةً
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    قد تقوم الشركة بضم خدمات أخري جديدة والتي سوف تكون خاضعة لشروط وأحكام مختلفة والتي سيتم إضافتها والإشارة إليها حينئذٍ
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لا تعد خدمات فيزيتا مخصصة للاستخدام من قبلك إن كنت غير مصرح لك قانونًا بممارسة مهنتك أو أن الكيان الذي تعد تابع له غير مرخص له بممارسة أنشطته،
                    وبالتالي فإن استخدامك لخدمات الشركة هو إقرار منك بأهليتك القانونية أو بأهلية الكيان الذي تمثله بممارسة أنشطته
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يقر الطبيب بمسئوليته الكامة والمطلقة سواء الجنائية أو المدنية عن أي خطأ في تشخيص أو علاج أي مريض قمت بالتعامل معه من خلال خدمات فيزيتا بحيث أن
                    فيزيتا لن تكون تحت أي ظرف وبأي حال من الأحوال مسئولة عن أي خطأ طبي أو سوء الممارسة المهنية أو إهمال ارتكبه الطبيب في حق المريض ، وأن شركة فيزيتا
                    ينحصر دورها كوسيط بين الطبيب والمريض فقط
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يقر المستخدم بأن البيانات الموضحة داخل التطبيق تمت إتاحتها فقط لأجل العلم وتيسير الأمر علي المستخدم ولا يمكن اعتبارها بأي حال من الأحوال كبديل للإستشارة
                    الطبية المتخصصة ، كما أن البيانات والمعلومات والخدمات المقدمة أتيحت فقط لغرض استخدامها في مجال المهن الطبية ، وأنه لا يمكن اعتبار فيزيتا
                    أوالشركات التابعة لها أومرخصيها أومورديها مسئولين عن أي مخالفة أو إفصاح لأي معلومات علي الموقع الخاص بالشركة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    قامت الشركة – بموجب هذة الشروط والأحكام- بمنح المستخدم ترخيص مقصور غير مطلق وغير حصري وقابل للإلغاء لاستخدام البيانات والمحتوي والمواد
                    والمعلومات المتاحة علي تطبيق فيزيتا. ، علماً بأنه لا يحق للمستخدم استعمال أو استغلال أي حقوق ملكية فكرية مملوكة من قبل الغير دون الموافقة الكتابية
                    المسبقة من الغير مالك حق الملكية الفكرية إلا في حدود المسموح به صراحةً بنص القانون
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تحتفظ فيزيتا بحقوق الملكية الفكرية المملوكة لها ولا ينشأ للمستخدم بأي حال من الأحوال أي حق من الحقوق المملوكة للشركة إلا بموجب موافقة كتابية منها، كما لا يحق لك استخدام أو نسخ أو عرض أو تنفيذ أو إنشاء أعمال مشتقة من البيانات والمعلومات المتاحة علي التطبيق أو توزيعها أو إرسالها أو ترخيصها من الباطن
                    وذلك بخلاف ما هو في حدود مايعد ضرورياً بالقدر المعقول بغرض استخدام الخدمات لأهدافها المرجوة منها وفي حدود ما تم النص عليه في هذة الشروط
                    والأحكام، كما لا يحق للمستخدم القيام بأي محاولات تتعلق بالهندسة العكسية للخدمات التي تقدمها فيزيتا. وفي حالة ما إذا تراءي لعلم المستخدم أي إجراء أو
                    محاولة لانتهاك أو خرق هذة الشروط والأحكام ، فإن عليه الاتصال بالشركة وإخطارها بذلك فوراً
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تقوم فيزيتا بإتاحة خدمات التطبيق والمتاحة في المعدات والأجهزة علي اختلافها، علي سبيل المثال لا الحصر أجهزة الموبايل والحاسب الآلي والتي يقوم المستخدم
                    بتوفيرها، بمعني أنه لا تكون فيزيتا ملتزمة بتوفير تلك الأجهزة أو وسائل الاتصال السلكية واللاسلكية علي سبيل المثال لا الحصر خدمة الاتصال بالانترنت أوخدمات
                    الموبايل
                </p>

            </div>
        </div><!-- end of row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    تسجيل الحساب وكلمة المرور
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لا يعتبر المستخدم بحاجة إلي التسجيل لزيارة التطبيق ، ولكن يجب عليه التسجيل مباشرةً علي الموقع وإنشاء حساب جديد حتي يتمكن المستخدم من الإستفادة من
                    الخدمات والخصائص المقدمة من فيزيتا والمعدلة من وقت لآخر وفقاً لسلطتها التقديرية المطلقة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ينبغي علي المستخدم عند إنشاء حساب جديد علي التطبيق إدخال البيانات الشخصية المطلوبة بشكل دقيق ووافي من أجل إكمال عملية التسجيل علي وجه صحيح، كما
                    ينبغي عليه إخطار فيزيتا في حالة تغيير أي من هذة البيانات في أسرع وقت ، علماً بأنه يحق لفيزيتا إنهاء التعاقد مع المستخدم في حالة عدم إدخاله
                    أو تعديله للبيانات المطلوبة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    عند إنشاء حساب جديد يجب عليك إدخال كلمة مرور خاصة بحسابك علي التطبيق واعتباره أمراً سرياً وعدم الإستجابة لأي رسالة للحصول علي كلمة السر بأي حال
                    من الأحول وعلي الاخص عندما يكون الطلب من أي شخص يدعي أنه يعمل لصالح الشركة، كما يجب عليك إخطار الشركة فوراً في حالة حدوث ذلك ، علماً بأنك ستكون
                    مسئولاً عن أي استخدام لكلمة المرور علي حسابك ، علي سبيل المثال لا الحصر دخول الحساب من قبل الغير غير المرخص له بذلك، وفي حالة حدوث ذلك ينبغي عليك
                    إخطار الشركة فوراً إن كنت تعتقد أنه تم اختراق حسابك الخاص من قبل الغير غير المرخص له، كما ينبغي عليك إخطار الشركة فوراً إن كنت تعتقد أنه تم اختراق
                    أو محاولة اختراق التطبيق ذاته
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يعد المستخدم مسئولاً عن أي أنشطة تمت علي حسابه حتي وإن كانت صادرة من الغير غير المرخص له بذلك ، كما يقر بالتزامه باستخدام خدمة الاتصال المشفر إن كان يرغب
                    في حماية بياناته وملفاته والمتاحة علي التطبيق
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ستقوم الشركة بتعليق ووقف حسابك في حالة إدخال كلمة مرور خاطئة ثلاثة مرات متتالية وفي هذة الحالة سيتوجب عليك الاتصال بالشركة
                    من خلال البريد الالكتروني لتنشيط الحساب مرة أخري


                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    الموافقة علي تلقي الرسائل من الشركة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يقر المستخدم بموجب استخدامه لخدمات فيزيتا ، بموافقته إرسال الشركة لبعض الرسائل المتعلقة بخدمات فيزيتا وذلك من خلال البريد الإلكتروني الخاص به بدلاً من
                    خدمة البريد علي سبيل المثال لا الحصر التذكير بمواعيد الزيارة ، الإخطارات التي يجب إخطار المستخدم بها بموجب القانون ، استحداث بعض الخصائص الجديدة بالتطبيق
                    أو العروض الخاصة والخصومات ، وفي حالة عدم رغبة المستخدم في ذلك ، يمكنه طلب إلغاء الإشتراك من هذة الخاصية
                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    الترخيص
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تقوم الشركة بموجب هذة الشروط والأحكام بمنح المستخدم رخصة محدودة غير حصرية وغير مدفوعة الأجر وغير قابلة للترخيص من الباطن وغير قابلة للإحالة لتحميل
                    التطبيق علي الهاتف المحمول أو أي جهاز آخر، وكذا باستخدام خدمات ومنتجات التطبيق من خلال حسابك الخاص (حساب المستخدم) ، كما يسري هذا الترخيص إدارات
                    تكنولوجيا المعلومات والتي تعمل بالنيابة عن الطبيب المستخدم
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يمتنع المستخدم عن القيام بأي عمل من شأنه خرق أو مسح أو اختبار أي نظام أو شبكة أو التحايل بأي طريقة أخرى على تدابير الأمان أو إجراءات اعتماد صحة
                    البيانات أو التلاعب بها أو الوصول إلى أو العبث بالخدمات أو نظام التطبيق أو المساحات الخاصة بمبرمجي تطبيق فيزيتا أو نظم الحاسب الآلي الخاصة بمورديها علي
                    حد سواء
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    كما لا يحق للمستخدم التدخل في أو تعطيل الحساب الخاص بمستخدم آخر أو مضيف آخر أو شبكة أخري، على سبيل المثال لا الحصر عن طريق إرسال فيروس أو
                    التحميل الزائد أو البريد العشوائي أو التفجير الإلكتروني لأي جزء من الخدمات ؛ أو زرع برامج ضارة أو استخدام الخدمات بطريقة أخرى لنشر البرامج الضارة، أو الوصول إلى الخدمات أو
                    البحث فيها بأي وسيلة أخرى غير واجهاتنا المدعومة، أو إرسال اتصالات أو إعلانات غير مرغوبة أو بريد إلكتروني أو رسائل خداعة أو تنشر معلومات تحديد
                    المصادر ، أو أي شيء احتيالي أو مضلل أو ينتهك حقوق الغير أو الترويج أو الإعلان عن منتجات أو خدمات غير مملوكة للمستخدم دون ترخيص بذلك ، أو انتحال
                    شخصية أي شخص أو كيان ، أو نشر أو مشاركة مواد غير قانونية أو إباحية ، أو مواد تدعو للتعصب أو الكراهية الدينية أو العنصرية أو العرقية أو مخالفة للقانون بأي
                    شكل من الأشكال أو تنتهك خصوصية الآخرين أو تشويه سمعتهم
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لا يحق للمستخدم القيام بأي عمل من شأنه الترخيص من الباطن أو بيع أو إحالة أو تأجير أو توزيع أو إدخال أو تحويل أو منح أي حق للغير متعلق بتطبيق أو موقع
                    فيزيتا أو أن يتعهد أو يقوم بأي عمل من شأنه السماح أو التصريح أو إنشاء أو تغيير أو الاستحداث أو الترجمة أو الهندسة العكسية أو إلغاء أو فك التشفير
                    أو مضاهاة أو القرصنة أو اكتشاف أو محاولة اكتشاف بروتوكولات التطبيق أو أي جزء منها أو خصائصها بخلاف الحدود المنصوص عليها بمقتضي القانون
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لا يحق لك بأي حال من الاحوال إزالة أو إخفاء أو تغيير أي معلومات متعلقة بحقوق المؤلف أو حقوق الملكية الأخري المنصوص عليها داخل التطبيق ، كما لا يحق لك استخدام
                    التطبيق أو التسبب في استخدام التطبيق (أو أي جزء منه) بغرض الإعلان عن بعض المنتجات أو الخدمات المقدمة من قبل الغير ، كما لا يحق لك استخدم التطبيق
                    إلا من خلال حساب المستخدم الخاص بك
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ستقوم الشركة بغلق حسابك فوراً وإنهاء ترخيصك باستعمال تطبيق و خدمات فيزيتا حال مخالفتك أي من هذة الشروط والأحكام بشكل فيه انتهاك
                    أو خرق لأي من حقوق الملكية الفكرية المملوكة للشركة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    من الممكن أن يشير التطبيق إلي أي مواقع أخري أو إعلانات أو خدمات مملوكة من قبل الغير بحيث لا تكون مملوكة أو مدارة من قبل الشركة ولا تملك الشركة أي حق أو سلطة اتخاذ قرار ولاتعتبر مسئولة عن أي مضمون أو محتوي أو عن سياسة الخصوصية أو الممارسات التي تتبعها المواقع أو الإعلانات المشار إليها، كما أن مواقع الغير تتبع سياسة الخصوصية مختلفة عن سياسة الخصوصية الخاصة بالشركة، وبناء عليه ، في حالة دخولك علي مواقع الغير من خلال موقع الشركة ، فإنت تقوم بذلك علي مسئوليتك الخاصة مع تحمل كافة العواقب الناتجة عن ذلك ، علمأ بأن الشركة لن تتحمل أي مسئولية متعلقة باستخدامك لمواقع الغير أو خدماته
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    وبالإضافة إلي ذلك ، فإن استخدامك أو استجابتك للعروض والخصومات الخاصة بمواقع الغير أو خدمة الدفع الفوري أو توصيل الطلبيات أو السلع أو خلافه تنشيئ علاقة تعاقدية خاصة فيما بينك وبين الغير لا تكون الشركة طرف فيها وبالتالي لا تكون الشركة مسئولة عن أي فقد أو ضياع أي شئ قمت بطلبه من هذة المواقع
                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    المحتوي المنشئ من قبل المستخدم
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ١- إذا كنت ترغب في استعمال خدمات فيزيتا، عليك بإدخال بعض البيانات والملفات بحسابك علي التطبيق (يشار إليه فيما بعد بملف المستخدم) وكذلك
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٢- في حالة نشر او نقل أو حفظ ملفك أو معلوماتك الشخصية علي التطبيق أو الموقع ، فإنك تقر سواء بالأصالة عن نفسك أو بالنيابة عن مالك المحتوي الأصيل بمنح فيزيتا ترخيص دائم و حصري وقابل للإحالة وقابل للترخيص من الباطن وخالي من حقوق الامتياز وغير قابل للإلغاء والحق في استخدام أوإعادة إنتاج أونشر أوترجمة أوترخيص من الباطن أو نسخ أو تعديل أو حذف أو توزيع هذا المحتوى لإدراجه على منصة فيزيتا علي سبيل المثال لا الحصر الموقع الالكتروني لفيزيتا. هذا الإدراج يتضمن أي عمل من شأنه مراجعةـ أو معالجة أو تعديل المحتوي علي سبيل المثال لا الحصر إدخال بعض الخصائص الجديدة والمختلفة عليه أو وضع صور مصغرة أو خيارت تصميم أو الحفاظ علي البيانات بعمل نسخة احتياطية منها وذلك كله بغرض التسويق والترويق لمنتجات وخدمات فيزيتا، كما يمتد هذا الترخيص إلي الغير المتعاقدين مع الشركة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٣- يقر المستخدم أنه بقيام الشركة باستخدام البيانات الخاصة به لن ينشئ بأي حال من الاحوال ولن يتم اعتباره انتهاك أو خرق لحقوق الملكية الفكرية أو حقوق المؤلف أو العلامات التجارية المملوكة للمستخدم
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٤- تقر فيزيتا بالحصول علي الموافقة الكتابية المسبقة منك للإفصاح أو نشر البيانات الخاصة بك علي منصات أخري غير فيزيتا ، بحيث أنه في حالة إذا ما رفضتةإقرار هذا النشر ، سوف تمتنع فيزيتا عن الإقدام عليه
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٥- يبقي المستخدم هو المالك الأوحد للبيانات والملفات المملوكة له وكذا النموذج أو الشكل الذي قامت الشركة بإدراجه
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٦- يقر المستخدم ويوافق أن العلاقة اتعاقدية التي أنشئت بينه وبين شركة فيزيتا هي علاقة إدارة تقوم بصددها الشركة بجمع بيانات المستخدم والاستحواذ عليها بغرض تحويلها ومعالجتها ودمجها
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٧- بخلاف الإستثناءات المقررة بسياسة الخصوصية الخاصة بالشركة فإن الشركة لن تقوم بأي حال من الأحول بنشر البيانات الخاصة بك أونقلها إلي السلطات المعنية بتنفيذ القوانين إلا في حالة إقرارك بذلك
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٨- يقر المستخدم بانه وحده مسئول عن صحة ودقة وشمولية وملاءمة وقانونية المعلومات التي قام بتزيدها إلي الشركة

                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٩- تتيح خدمات فيزيتا مشاركة بياناتك وملفاتك الشخصية مع عامليك الخاضعين لرقابتك وبالتالي تعتبر مسؤول عن عن قيام العاملين لديك بحفظ أوتعديل أونشر البيانات
                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    المحتوي المنشئ من قبل فيزيتا
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ١- تقوم الشركة بإنشاء محتوي يضم كل المعلومات والملفات التي يقوم المستخدم بإدخالها علي التطبيق والتي ستقوم الشركة بمعالجتها علي سبيل المثال لا الحصر العلامات والتصميمات والنصوص والرسومات علماً بأن اختيارها وتنظيمها هو خاضع لملكية الشركة أيضاً
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٢- إن أسماء المنتجات والعلامات والتصميمات والعناوين والكلمات والعبارات المستخدمة علي أي من تطبيقات فيزيتا ومرخصينها أو الكيانات الأخري، وكذا جميع رؤوس الصفحات والرسومات المخصصة وأيقونات الأزرار والبرامج النصية هي علامات تجارية وبراءات اختراع مملوكة ومسجلة باسم فيزيتا ، وبناء عليه، في حالة استخدامك لهذه العلامات التجارية أو الشعارات ، فيجب عليك تضمين الإسناد الملائم لفيزيتا ، جميع العلامات التجارية الاخري وبراءات الإختراع ونحوها والمبينة علي التطبيق هي تابعة لملاكها الأصليين، لا يحق لك استخدام أي من هذة العلامات أو براءات الإختاراع أوالأسرار التجارية أوحقوق التصميم أوالمظهر التجاري أوالشعارات أو أي محتوى آخر يحاكي أصول العلامة أو يشبهها بشكل يدعو للتشويش دون موافقة كتابية مسبقة من فيزيتا
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٣- قد تدعوك فيزيتا لاختيار إمكانية إرسال التعليقات أو الشهادات أو الآراء أو الاقتراحات أو الأفكار أو خلافه مما يتعلق بالخدمات التي تقدمها فيزيتا علي سبيل المثال لا الحصر تطوير الخدمات أو المنتجات.، وفي حالة أن قمت بإبداء أي اقتراحات أو أفكار ، فإنك تقر أنك ستقوم بتزويدها من تلقاء نفسك وبرغبتك المنفردة وبدون مقابل وانك لن تطالب الشركة بدفع أي مقابل مادي لهذة الاقتراحات أو الأفكار وأنه يحق لفيزيتا نشرها علي أوسع نطاق واستخدامها وإعمالها دون أي التزام مادي بصددك وأنك قد أعطيت الشركة تصريح باستخدام هذا الاقتراح أو هذة الفكرة علي أوسع نطاق بشكل نهائي لا رجعة فيه ودون مقابل وأنه في حالة ما إذا قامت فيزيتا بتسجيل أية براءات اختراع أو حقوق نشر أو حقوق مؤلف علي هذة الفكرة أو هذا الاقتراح فإن جميع حقوق الملكية الخاصة بها سوف تؤول للشركة وحدها دون غيرها وأنك تتنازل عن المطالبة بأي حقوق حالية أو مستقبلية تتطالب فيها بالتعويض استناداً إلي المنافسة غير الشريفة أو الحقوق المعنوية أو أي سند قانوني آخر وبناءً عليه، فإنه لا يتوجب عليك تزويدنا بهذة الأفكار أو المقترحات حال عدم رغبتك بالتنازل لصالح الشركة عن جميع الحقوق المرتبطة بها دون أي مقابل وأن تقر بمسئوليتك الكاملة عن محتوي تلك الافكار والاقتراحات
                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    مسئولية المستخدم
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ١- إن المحتوي الذي تقدمه فيزيتا يتم حمايته بموجب حقوق الملكية الفكرية ويجب ألا يتم نشره للعامة، وبناء عليه، فإنك تقر بالإمتناع عن نشر أو تحميل أو مشاركة هذا المحتوي مع الغير ، وأنك سوف تتحمل وحدك كامل المسئولية والعواقب الناتجة عن مخالفتك هذا الالتزام
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٢- سوف تكون مسؤول وحدك عن صيانة وحماية كافة بياناتك والمحافظة عليها، حيث أن الشركة لن تتحمل مسئولية خسارة أو تلف البيانات أو التكاليف أوالنفقات التي تكبدتها من أجل عمل نسخ احتياطية أو استرجاع للبيانات أو أي مبالغ لتعويض الخسارة التي تحملتها بسبب عدم حماية بياناتك الشخصية
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٣- لابد من إخطار الشركة علي وجه السرعة بأي تغييرات أو تعديلات لبياناتك الشخصية والمتعلقة بحسابك الشخصي

                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٤- يقر المستخدم ـنه لن يقوم باستخدام خدمات فيزيتا بغرض إلزامها في الدخول في أي تعاقدات بهدف تنسيق أو تحديد أسعار الخدمات والمنتجات أو تغيير العملة المتفق عليها أو الحد من الإنتاج أو تقاسم الأسواق أو التلاعب بالعطاءات أو خلافه
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    ٥- أنك لن تستخدم خدمات فيزيتا بغرض الإنخراط في أي ممارسات منافية للمنافسة الحرة الشريفة ـأو خادعة أو مخالفة لقوانين منع الاحتكار أو حماية المستهلك ولوائحهم التنفيذية
                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    سياسة الأمان
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لقد اتخذت فيزيتا جميع التدابير التقنية والتنظيمية اللازمة لغرض تأمين بيانات المستخدم الشخصية من أي ضياع أو دخول غير مصرح به أو استغلال أو تحريض أو تبديل أو إفصاح ، ولكن علي الرغم من ذلك فإن الشركة لا تضمن أنه لن يتسني للغير غير المرخص له التغلب علي سياسة الأمان الخاصة بالشركة والإطلاع علي بياناتك الشخصية أو استخدامها لأغراض غير قانونية، وبالتالي فإنك تقر أن الشركة غير مسئولة في حاالة حدوث ذلك وأنك تقوم بإدخال البيانات علي مسئوليتك الشخصية
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تحترم الشركة حقوق الملكية الفكرية للغير وبالتالي فإن الشركة قد تقوم بحذف أو إزالة أي محتوي قد يمثل انتهاك لحقوق الملكية الفكرية المملوكة للغير ووفقاً لسلطتها التقديرية، كما يحق للشركة إنهاء ووقف حساب المستخدم الذي يقوم بأي عمل من شأنه خرق حقوق الملكية الفكرية للغير
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يقر المستخدم ويتعهد للشركة أنه : أ- يتمتع بالسلطة الكاملة للدخول في التزاماتك بموجب هذه الشروط والأحكام ، ب-بموافقته على الوفاء بالتزاماته بموجب هذه الشروط والأحكام ، ج- أن الإلتزام بهذة الشروط والأحكام لا يشكل خرقًا أو يتعارض مع أي التزامات قانونية أخرى من أي نوع أوالاتفاقات أوالترتيبات أو القوانين أو اللوائح السارية ؛ أو أي أحكام قضائية صادرة في حقه أو خاضع لها ، د- تشكل هذة الشروط والاحكام التزامات قانونية وصالحة وملزمة له ، ر- أنك لن تنتهك عند استخدامك خدمات الشركة حقوق الطبع أوالنشر أو العلامات التجارية أو الأسرار التجارية أو حقوق الدعاية أو حقوق الملكية الفكرية المملوكة للغير أوحق السرية المكفول لعملائك ، س- سوف تمتثل لجميع القوانين والقواعد واللوائح المعمول بها عند استخدامك لخدمات الشركة ، وأخيراً ص- أنك طبيب مؤهل وفقاً للقوانين واللوائح المعمول بها بمجال عملك
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يقر المستخدم باستخدامه التطبيق علي مسئوليته الخاصة وأن الشركة وعامليها ومديريها وممثليها وشركائها يخلوا مسئوليتهم عن أية ضمانات صريحة أو ضمنية تتعلق بالخدمات واستخدماك لها، وأن فيزيتا لا تقدم أية ضمانات أو تأكيدات بشأن دقة محتوي هذا التطبيق أو اكتماله أو محتوي أي من المواقع الشقيقة لهذا التطبيق ، وأن الشركة لا تتحمل أي مسئولية متعلقة بأي مما يلي: (1) خطأ أو عدم دقة المحتوى ، (2) أي إصابة شخصية أو تلف في الممتلكات من أي نوع تنتج عن استخدامك لخدمات الشركة ، (3) أي دخول غير مصرح به أو استخدام خوادمنا الآمنة و / أو جميع المعلومات الشخصية و / أو معلومات عن وضعك المادي والتي قمت بإدخالها ، (4) أي انقطاع أو توقف للإرسال إلى أو من خدماتنا ، (5) أي أخطاء أو فيروسات أو ما شابه والذي قد يتم نقله إلى أو من خدماتنا من قبل الغير ، (6) أي أخطاء أو سهو في أي محتوى أو أي خسارة أو ضرر من أي نوع يتكبده المستخدم نتيجة لاستخدام أي محتوى تم نشره ، أو إرساله عبر البريد الإلكتروني أو نقله أو إتاحته بطريقة أخرى عبر الخدمات
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لا تضمن فيزيتا أو تصادق أو تتحمل المسؤولية عن أي منتج أو خدمة معلن عنها أو مقدمة من قبل الغير من خلال الخدمات التي تقدمها فيزيتا أو أي خدمات موصولة الكترونياً والتي تظهر في أي لافتة أو إعلان آخر، ولن تكون فيزيتا طرفًا في علاقتك مع الخدمة المقدمة من الغير ولن تكون مسئولة عن مراقبة أي معاملة بينك وبين الغير
                </p>
            </div>
        </div><!-- end of  row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    شروط الحد من مسئولية فيزيتا
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لا تكون الشركة أو مسئوليها أو مديريها أو عامليها أو ممثليها مسئولون عن أية أضرار مباشرة أو غير مباشرة أو عرضية أو خاصة أو جزائية أو لاحقة والناتجة عن: أ- أي خطأ أو عدم دقة محتوي ، ب- إصابة أو خسارة لممتلكات شخصية من أي نوع ناتجة عن دخولك علي الموقع والتطبيق واستخدامك لخدمات فيزيتا ، ج- أي دخول غير مصرح به من الغير بغرض استغلال خادمات الكمبيوتر الخاصة بنا للحصول علي بيانات شخصية خاصة بك تم إدخالها علي التطبيق ، د- أي انقطاع أو وقف من وإلي خدمات الشركة ، س- أي أخطاء أو فيروسات أو ما شابه والذي قد يتم نقله إلى أو من خلال خدماتنا من قبل الغير ، ص- أي أخطاء أو سهو في أي محتوى أو عن أي خسارة أو ضرر من أي نوع تكبده المستخدم نتيجة لاستخدام أي محتوى تم نشره ، أو إرساله عبر البريد الإلكتروني أو نقله أو إتاحته بطريقة أخرى عبر الخدمات وبغض النظر عما إذا كان هذا الضرر يستند إلي المسئولية اعقدية أو المسئولية التقصيرية أو أي ضمانة أخري قدمتها الشركة للمستخدم أو أي سند قانوني آخر و ذلك كله يغير إخلال بالقوانين والاحكام واللوائح المعمول بها داخل دائرة المحكمة المختصة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    كما يقر المستخدم علي وجه الأخص بمسئوليته الكاملة عن أي سلوك تشهيري أو مسيء أو غير قانوني للغير أو أي خطر أو أذى أو ضرر ناجم عما تقدم. يتم التحكم بالخدمة وتقديمها بواسطة Vezeeta من منشآتها في (يرجى إدخال البلد الذي يوجد به الخادم الخاص بك). لا تقدم Vezeeta أي تعهدات بأن الخدمة مناسبة أو متاحة للاستخدام في مواقع أخرى. أولئك الذين يصلون إلى الخدمة أو يستخدمونها من ولايات قضائية أخرى يفعلون ذلك بمحض إرادتهم ويكونون مسؤولين عن الامتثال للقانون المحلي
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    كما لا تقدم فيزينا أي ضمانات أو مسئوليات أن تتواجد الخدمات المقدمة من قبل فيزيتا بمحل إقامتك وأنك تقوم بذلم بمحض إرادتك ودون أدني مسئولية علي الشركة ، وأنه علي المستخدمين المقيمين بأماكن اخري الإمتثال للقوانين والقواعد واللوائح والقرارات المحلية المعمول بها داخل دائرة إقامتهم
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يقر المستخدم وفي حدود نصوص القانون بالدفاع وحماية وإبراء ذمة فيزيتا أو ممثليه أو مديريها أو مسئوليها أو وكلائها من اية أضرار أو خسائر أو تكاليف أو نفقات علي سبيل المصال لا الحصر أتعاب المحاماه التي تكبدتها فيزيتا نتيجة أية مطالبات أو دعاوي أقيمت أو رفعت علي أي من الأطراف المستحقة للتعويض والناتجة عن: 1- استخدامك ودخولك إلي خدمات الشركة ، 2- مخالفتك لهذة الشروط والأحكام ، 3- أي ادعاءات من قبلك تقوم بها بالمخالفة لهذة الشروط والأحكام بما في ذلك أي مخالفة للقوانين واللوائح أو أي ادعاء بانتهاك لخصوصيتك أو بحقوق الملكية الفكرية الخاصة بك والمتعلفة بملفاتك والبياناتك الشخصية التي قمت بإدخالها علي التطبيق أو بالملفات المنشئة من قبل الشركة ، 4- النزاعات الناشئة عن أو المتعلقة أو المرتبطة بانتهاكك لحقوق الملكية الفكرية المملوكة أو الخصوصية للغير من خلال دخولك واستخدامك لموقع الشركة أو خدماتها ، دخول الغير واستخدامه لحسابك الشخصي وإدخاله لكلمة المرور، وفي حالة إلزامك بالتعويض إعمالاً للفقرة السابقة ، فإنه يحق للشركة وفقاً لسلطتها التقديرية المطلقة التخلص من الدعاوي أو المطالبات علي نفقتك الخاصة، وبدون إخلال بما سبق فإنه لا يحق لك تسوية أي خلافات دون موافقة فيزيتا الكتابية المسبقة
                </p>
            </div>
        </div><!-- end of row -->

        <div class="row mt-4" style="margin-right: 20px;">
            <div class="col-md-12  col-sm-12 col-12">
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    القوة القاهرة
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لن تكون فيزيتا مسئولة عن وفاءها بالتزاماتها التعاقدية تجاهك في حالة حدوث قوة قاهرة يمنعها من الإلتزام ، علي سبيل المثال لا الحصر الاضرابات، وقف الخدمة ، انقطاع الاتصالات ، توقف مقدم الخدمة المتعاقد مع فيزيتا عن تقديم خدماته، حريق ، حادث إرهابي ، كارثة طبيعية أو حرب
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    يحق لفزيتا وفقاً لسلطتها التقديرية المطلقة إنهاء التعاقد معك ومنعك من استخدام خدماتها أو الدخول علي التطبيق بدون إبداء أي أسباب وذلك قد يكون لعدة أسباب ، علي سبيل المثال لا الحصر ، 1- مخالفتك لأحد التزاماتك بهذة الشروط والأحكام ، 2- مخالفتك لحقوق الغير ، 3- عدم صحة بيانات بطاقة الائتمان الخاصة بك 4- تجاوزك الحد المسموح به لبطاقة الائتمان الخاصة بك أو 'إعادة تحميل' الرسوم أو الدفعات الأخرى ، 5- عدم نشاط حسابك لفترة ممتدة من الوقت
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    في حالة وقف حسابك ، سوف تقوم فيزيتا بحذف أي مواقع أو ملفات أو رسومات أو أي محتوى أو مواد أخرى تتعلق باستخدامك للموقع أو الخدمات على الخوادم التي تملكها أو تديرها شركة Vezeeta أو التي حوزتها بدون أدني مسئولية علي الشركة ، كما يحق للشركة اتخاذ جميع التدابير التي تراها مناسبة لمنه دخول الغير علي الموقع أو استخدامه للخدمات، علي سبيل المثال لا الحصر عمل حواجز تكنولوجية ، ورسم خرائط IP والاتصال المباشر مع مزود خدمة الإنترنت الخاص بك، كما يلتزم المستخدم بدفع أي مبلغ مستحق لصالح فيزيتا فوراً
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    أي إخطارات تتم بموجب هذة الشروط والاحكام ستكون خطية ومسلمة بإحدي الطرق التالية: 1- التسليم باليد ، 2- خطاب مسجل بعلم الوصول من خلال هيئة البريد المصري ، 3- خدمة البريد السريع 4- البريد الالكتروني
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    في حالة إرسالك إخطار لفيزيتا، عليك أن ترسل علي العنوان الظاهر علي الموقع، وفي حالة إرسال فيزيتا إخطار إليك سيتم إرساله علي العنوان المبين في بياناتك الشخصية، كما يقر الطرفان أن الإخطار المرسل الكترونياً من جانب أي طرف يشتنفذ أي شرط قانوني بأن ترسل هذة المراسلات كتابةً
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تكون هذة الشروط والاحكام كامل الاتفاقية بين فيزيتا والمستخدم وتحل محل جميع الاتفاقات والتفاهمات السابقة والحالية بين الطرفين فيما يتعلق بموضوعها، كما ستكون هذه الشروط الوالأحكام ملزمة لكل طرف أوخلفائه ، وتخضع في تفسيرها وتطبيقها لقوانين ولاية إلينوي دون إحالة إلي مبادئ تنازع القوانين
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    لن تكون هذة الشروط والاحكام وكذا جميع حقوقك والتزاماتك بموجبها للإحالة دون موافقة كتابية مسبقة من الشركة. لا يُعتبر أي إخفاق أو تأخير من جانب أي طرف في ممارسة أي حق أو سلطة أو امتياز بموجب هذه الشروط والاحكام تنازلاً عنها ، ولن تمنع أي ممارسة فردية أو جزئية لأي حق أو سلطة أو امتياز الطرف الآخر من ممارسة هذا الحق أو ممارسة أي حق أو سلطة أو امتياز آخر بموجب هذه الشروط والاحكام
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    أن العلاقة التي تجمع المستخدم والشركة هي علاقة تعاقدية كمتعاقدين مستقلين ولا يمكن اعتبارها بأي حال من الاحوال عقد وكالة أو شراكة أو مشروع مشترك أو علاقة عمل بين عامل ورب العمل
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تعتبر هذة الشروط والأحكام قابلة للفصل ولا يؤثر بطلان أو عدم نفاذ أي منها على صلاحية أي من من الشروط والأحكام الاخري، والتي ستبقي سارية المفعول ونافذة وقانونية
                </p>
                <p style="font-size: 15px; color: rgb(95, 96, 97);">
                    تمت صياغة هذة الشروط والأحكام باللغتين العربية والإنجليزية، بيد كل طرف نسخة أصلية للعمل بها ، وفي حالة وجود تعارض بين الشروط والأحكام من جانب وبين عقد الخدمة من جاني آخر أو بين اللغتين العربية والإنجليزية يتم إعمال الشروط والأحكام واللغة العربية
                </p>
                <p style="font-size: 20px; color: rgb(95, 96, 97);">
                    شكراً
                </p>
            </div>
        </div><!-- end of  row -->
    </div> <!-- end container -->
   
