
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Doctors List</h2>
<div class="row mb-3">
    <div class="offset-4 col-sm-8 ">
        <div class="form-inline pull-right">
            <label class="text-uppercase">Search</label>
            <input type="text" class="form-control ml-3 w-75" id="txtSearch" placeholder="Search By Name , Phone Or Email" />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success " })

</p>
<div id="gridDoctor">

</div>
<script>
    $(() => {
        getUsers();
        $('#txtSearch').on('keyup', () => {
            getUsers();
        });
    });
    function getUsers() {
        $.ajax({
            url: '@Url.Action("searchDoctor", "Doctor")',
            dataType: 'html',
            method: 'GET',
            data: { seachText: $('#txtSearch').val() },
            success: function (res) {
                $('#gridDoctor').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }

        });
    }
</script>
