
@{
    ViewBag.Title = "من نحن";
    //Layout = null;
}

    <link href="~/Content/CSS/Sidebar.css" rel="stylesheet">


    <style>
        h1, h2 {
            font-family: "Roboto", sans-serif;
            direction: rtl;
            color: rgb(29, 89, 219);
            font-weight: 800;
        }

        h3 {
            font-family: "Roboto", sans-serif;
            direction: rtl;
            /* color: rgb(29, 89, 219); */
            font-weight: 800;
        }

        p {
            direction: rtl;
            font-weight: 600;
            color: #858484;
            line-height: 1.8;
            letter-spacing: 0.8px;
        }
        .mydiv {
            width: 100%;
            height: 100%;
            background-image: url('/Content/images/cover22.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: gray;
        }

        .header {
            color: #36A0FF;
            font-size: 27px;
            margin: 50px;
        }
    </style>


    <section class="container">
        <section class="row">
            <section class="col-12 col-lg-8">
                <h2> من نحن</h2>
                <p>
                    فيزيتا هي المنصة الرائدة للرعاية الصحية الإلكترونية لحجز الأطباء و برنامج تنظيم إدارة العيادات في منطقة الشرق الأوسط و شمال إفريقيا. نحن نقود تحويل حجز الأطباء و العيادات و المستشفيات إلكترونيتا وأوتوماتيكيا لتصبح الرعاية الصحية عالية الجودة سهلة المنال في المنطقة العربية.

                </p>
                <p>
                    بمساعدة أكثر من200,000 تقييم مُثبت و مُراجَع، يمكن للمريض أن يبحث، يقارن، و يحجز مع أفضل الأطباء في الحال. و يمكن أيضاً للأطباء أن يوفروا تجربة رعاية صحية سهلة و بدون عقبات بفضل برنامج تنظيم إدارة العيادات من فيزيتا.
                    تعمل فيزيتا حالياً بمصر، و السعودية، و الشام، و الإمارات، و كينيا و نيجيريا. نطمح لإجادة كل الجوانب في صناعة الرعاية الصحية و الإستمرار في إطلاق منتجات تصنع فرقاً إيجابيا في حياة الناس.
                </p>
            </section>
            <section class="d-none d-lg-block col-lg-2" style="background-color: #ffffff;height: 205px;width: 250px; margin-left:30px;border-radius: 10%;">
                <nav id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-nav-item active ">
                            <a class="js-scroll-trigger " href="/WhoRW/Whowhat/"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>من نحن </a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="/OurTeam/Ourteam/"> <i class="fa fa-users" aria-hidden="true"></i>فريقنا</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="/LifeVezeeta/LifeVezeeta/"> <i class="fa fa-cogs" aria-hidden="true"></i>الحياة فى فيزيتا</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="https://careers.vezeeta.com/"> <i class="fa fa-search" aria-hidden="true"></i>وظائف</a>
                        </li>
                    </ul>
                </nav>

            </section>
        </section>
    </section>
    
