
@{
    ViewBag.Title = "الحياة فى فيزيتا";
   // Layout = null;
}


    <link href="~/Content/CSS/Sidebar.css" rel="stylesheet">

    <style>
        h1, h2 {
            font-family: "Roboto", sans-serif;
            direction: rtl;
            color: rgb(29, 89, 219);
            font-weight: 800;
        }

        h3 {
            font-family: "Roboto", sans-serif;
            direction: rtl;
            /* color: rgb(29, 89, 219); */
            font-weight: 800;
        }

        p {
            direction: rtl;
            font-weight: 600;
            color: #858484;
            line-height: 1.8;
            letter-spacing: 0.8px;
        }
        .mydiv {
            width: 100%;
            height: 100%;
            background-image: url('/Content/images/cover22.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: gray;
        }

        .header {
            color: #36A0FF;
            font-size: 27px;
            margin: 50px;
        }
    </style>

    <br /><br /><br /><br />
    <section class="container">
        <section class="row">
            <section class="col-12 col-lg-8">
                <h2>الحياة فى فيزيتا</h2>
                <p>
                    أُنْشِئَتْ فيزيتا علي يد فريق متجدد المنظور و يقدم أفكار مبتكرة ويبحث عن حلول للتحديات اليومية ليترك بصمته في مجال الأعمال.
                    <br />
                    قيمنا هي:
                    <br />
                    - القيادة من اهم مقومات العمل
                    <br />
                    - تحليل المعلومات للوصول الى ادق القرارات
                    <br />
                    - الشغف في حل المشاكل
                    <br />
                    - الثقة والاعتماد على بعضنا البعض
                    <br />
                    - السرعة فى الوصول الى النتائج
                    <br />
                    ثقافة فيزيتا تشجع علي التعلم و التاقلم والتحدى للحاله الكائنه. ثقافه تعد وتمكن الشباب ليحدثوا تغيرات إيجابية عن طريق انها توفر لهم المهارات والفرص وشبكة تواصل قوية مكونة من أشخاص لديهم إرادة قوية يتشاركون الشغف نفسه لما يفعلونه في الحياة.

                    في فيزيتا نتبني النهج ان الشباب هما صناع التغير،وأنه ليس بعدد سنين تكتسب الخبره فى مجال معين ولكن بجودة التفكير و الارادة.

                    علي مدار الأعوام القليلة الماضية، إستطاعت فيزيتا بفريقها الشاب أن تغير ديناميكية الرعاية الصحية وطريقة عمل الأطباء و طريقة حجز المرضى للكشف الطبى مما سهل الحياة علي كلا الطرفين الأطباء والمرضي.
                </p>
                <div class="mgr">
                    <div class="row">
                        <div class="col-12 col-md-6" style="direction:rtl;">
                            <img id="teamimg2" src="~/Content/Images/3.jpg" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>منير شاكر، كبير المهندسين</h3>
                            <p>نحن مهندسو فيزيتا دائما ما نكون علي القمة، نحن لا نرضي بإستخدام أي تكنولوجيا لكن الأجدد و الأكثر تطورًا لنضمن أن تكون خدماتنا من الدرجة الأولي ونحصد خبرات رائعة للمستخدمين</p>
                        </div>

                    </div>
                </div>
                <div class="assmgr">
                    <div class="row">
                        <div class="col-12 col-md-6" style="direction:rtl;">
                            <img id="teamimg2" src="~/Content/Images/4.jpg" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>ريهام الحسيني، كبير منسقي المشاريع  </h3>
                            <p>
                                فيزيتا مكان عمل يوسع من خبرات موظفينه؛ أنت تتعلم الكثير في وقتٍ قليلٍ جدًا.
                                فبيئة العمل ودودة للغاية، الكل يُعامل علي حد السواء بغض النظر عن المناصب في الشركة كما أن افراد الإدارة من جميع الاقسام دائمًا متواجدون ويمكنك الوصول إليهم بسهولة.!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="assmgr">
                    <div class="row">
                        <div class="col-12 col-md-6" style="direction:rtl;">
                            <img id="teamimg2" src="~/Content/Images/5.jpg" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>رنا قنديل ، مديرة تسويق محركات البحث</h3>
                            <p>
                                علي عكس أماكن العمل الروتينية الصارمة، فيزيتا بها بيئة عمل ممتعة تتحدى قدراتك و تعلمك .
                                نموك و حصولك علي الترقيات ليس له علاقة بعمرك أو بعدد السنين التي قضيتها في الشركة؛ فإذا إعتمدت طريقة تعلم سريعة سيتم مكافأتك بالوظيفة المناسبة.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="assmgr">
                    <div class="row">
                        <div class="col-12 col-md-6" style="direction:rtl;">
                            <img id="teamimg2" src="~/Content/Images/6.jpg" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>أندرو ماهر، المدير المالي  </h3>
                            <p>
                                رحلتي في فيزيتا والتي بدأت في 2013 هي حقًأ رحلة العمر.
                                بدأت العمل بها كمحاسب ثم كبيرالمحاسبين ثم مدير الحسابات حتي أصبحت الأن المدير المالي للشركة.
                                لا يمكن أن تحدث هذه القفزة السريعة في مسيرتي المهنية في أي شركة أخري، ما وصلت إليه في 5 أعوام كان سيأخذ 12 – 15 عام في مكان أخر.
                                إذا لديك شغف وإرادة للتعلم، ستستثمر الإدارة فيك الوقت والجهد لتنمو و تحصل علي الترقيات دون الإلتفات لعمرك.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="d-none d-lg-block  col-lg-2" style="background-color: #ffffff;height: 205px;width: 250px; margin-left:30px;border-radius: 10%;">
                <nav id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-nav-item active ">
                            <a class="js-scroll-trigger " href="/WhoRW/Whowhat/"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>من نحن </a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="/OurTeam/Ourteam/"> <i class="fa fa-users" aria-hidden="true"></i>فريقنا</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="/LifeVezeeta/LifeVezeeta/"> <i class="fa fa-cogs" aria-hidden="true"></i>الحياة فى فيزيتا</a>
                        </li>
                        <li class="sidebar-nav-item">
                            <a class="js-scroll-trigger" href="https://careers.vezeeta.com/"> <i class="fa fa-search" aria-hidden="true"></i>وظائف</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </section>
    </section>
    
